@helper MenuOlustur(List<MvcApplication1.Models.Menu> menu, int? menuid)
{
    foreach (var i in menu.Where(a => a.menuId.Equals(menuid)))
    {
        <li>
            @{var submenu = menu.Where(a => a.menuId.Equals(i.id)).Count();}

                <a href="@i.id">@i.Adi</a>

            @if (submenu > 0)
            {
                <ul>
                    @MenuOlustur(menu, i.id)
                </ul>
            }
        </li>
    }
}

@model List<MvcApplication1.Models.Menu>


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style type="text/css">
        #navcss {
            margin: 0;
            padding: 7px 6px 0;
            background: #7d7d7d url(gradient.png) repeat-x 0 -110px;
            line-height: 100%;
            border-radius: 1em;
            -webkit-border-radius: 1em;
            -moz-border-radius: 1em;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        }

        #nav li {
            margin: 0 5px;
            padding: 0 0 8px;
            float: left;
            position: relative;
            list-style: none;
        }


        #nav a {
            font-weight: bold;
            font-size: 16px;
            color: #444;
            text-decoration: none;
            display: block;
            padding: 8px 20px;
            margin: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            text-shadow: 0 1px 1px rgba(0,0,0, .3);
        }

            #nav a:hover {
                background: #000;
                color: #fff;
            }


        #nav .current a, #nav li:hover > a {
            background: #666 url(gradient.png) repeat-x 0 -40px;
            color: #444;
            border-top: solid 1px #f8f8f8;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            box-shadow: 0 1px 1px rgba(0,0,0, .2);
            text-shadow: 0 1px 0 rgba(255,255,255, 1);
        }


        #nav li:active > a {
            background: #666 url(gradient.png) repeat-x 0 -40px;
            color: #444;
            border-top: solid 1px #f8f8f8;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            box-shadow: 0 3px 3px rgba(255,255,255, 1);
            text-shadow: 0 1px 0 rgba(255,255,255, 1);
        }


        #nav ul li:hover a, #nav li:hover li a {
            background: none;
            border: none;
            color: #666;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        #nav ul a:hover {
            background: #0078ff url(gradient.png) repeat-x 0 -100px !important;
            color: #fff !important;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            text-shadow: 0 1px 1px rgba(0,0,0, .1);
        }

        #nav li:hover > ul {
            display: block;
        }


        #nav ul {
            display: none;
            margin: 0;
            padding: 0;
            width: 185px;
            position: absolute;
            top: 35px;
            left: 0;
            background: #ddd url(gradient.png) repeat-x 0 0;
            border: solid 1px #b4b4b4;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            box-shadow: 0 1px 3px rgba(0,0,0, .3);
        }

            #nav ul li {
                float: none;
                margin: 0;
                padding: 0;
            }

            #nav ul a {
                font-weight: normal;
                text-shadow: 0 1px 0 #fff;
            }


            #nav ul ul {
                left: 181px;
                top: -3px;
            }


            #nav ul li:first-child > a {
                -webkit-border-top-left-radius: 4px;
                -moz-border-radius-topleft: 4px;
                -webkit-border-top-right-radius: 4px;
                -moz-border-radius-topright: 4px;
            }

            #nav ul li:last-child > a {
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                -webkit-border-bottom-right-radius: 4px;
                -moz-border-radius-bottomright: 4px;
            }
    </style>

</head>
<body>
   
    @if (Model != null && Model.Count() > 0)
    {
        <ul id="nav">
            @MenuOlustur(Model, Model.FirstOrDefault().menuId)
        </ul>
    }


</body>
</html>
